<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.background {
  background-image: url("https://c1.wallpaperflare.com/preview/167/17/269/spring-background-flower-yellow.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;

}
</style>
<body class="background" >
<center>

<h2>master dashboard</h2>
<form action="createtask">

</form>
<a href="{% url 'AssignTask' %}"><input type="button" name="btn" value="Assign Task"></a><br/>
<a href="{% url 'log_out' %}"><input type="button" name="btn1" value="logout"></a>
</center>
</body>
</html>