<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000')">
<center>
<form action="studentreadlogin" method="post">
    {% csrf_token %}
    <h2>Student Login</h2>
<table>
<tr>
    <td>Email</td>
            <td>:</td>
            <td><input type="email" name="txtemail"></td>
        </tr><tr>
            <td>Password</td>
            <td>:</td>
            <td><input type="password" name="txtpwd"></td>
        </tr>
        <tr>
            <td><input type="submit" name="sub" value="LOGIN"><br>
          <a href="studentreg"><input type="button" name="but" value="Signup"></a> </td>
        </tr>
</table>
    </form>
</center>
</body>
</html>