<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.background {
  background-image: url("https://c1.wallpaperflare.com/preview/609/453/213/wild-flowers-flowers-plant-macro.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;

}
</style>
<body class="background" >
<center>
<h2>student dash</h2><br>
<a href="{% url 'task' %}"><input type="button" name="btn" value="view tasks"></a><br>
<a href="{% url 'log_out' %}"><input type="button" name="btn1" value="logout"></a>
</center>
</body>
</html>